* {margin:0; padding:0;}
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
    font-family:'NanumGothic';
	font-style:normal;
	font-weight:normal;
    src: url('../../font/NanumGothic.eot') format('embedded-opentype'),  /* IE 9 */
    src: local(※),url('../../font/NanumGothic.ttf') format('truetype');
}
body {font-family: 'NanumGothic','나눔고딕',"Malgun Gothic","맑은 고딕","돋움","Dotum","굴림","Gulim","serif",sans-serif;color:#333333;}
img {border:none; vertical-align:middle;}
 a {text-decoration:none;color:#333333;}
li {list-style:none;}

.mb_20px {margin:0 0 20px 0;}
.mb_10px {margin:0 0 10px 0;}
.mr_10px {margin:0 10px 0 0;}
.mr_16px {margin:0 16px 0 0;}
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}
.br_1px {border-right:1px solid #b9b9bb;}
.bt_1px {border-top:1px solid #b9b9bb;}
.bb_1px {border-bottom:1px solid #b9b9bb;}

.line {width:1117px;height:5px; background:url("../../img/pc/main/line.png");margin:50px auto; border:none;}

#wrap {width:1150px;margin:0 auto;overflow:hidden;}

#table_wrap{width:936px;float:left;}
#table_wrap table {margin:0 auto;}

#header {width:100%;height:126px;overflow:hidden;}
#header #hd_top ul li{float:left;margin-left:1px;}
#header #hd_mid {margin:10px 0;}
#header #menu {margin-bottom:10px;}
#header #menu #menu_bg {position:absolute;width:100%;height:45px;background:rgba(0,0,0,0.5);left:0;z-index:9998;margin-top:30px;display:none;}
#header #menu > ul > li{width:80px;height:17px;float:left;text-align:center;font-size:14px;letter-spacing:-2px;border-right:1px solid #b9b9bb;box-sizing:border-box;font-weight:bold;}
#header #menu > ul > li:nth-of-type(5) {width:106px;letter-spacing:-3px;}
#header #menu > ul > li:nth-of-type(14) {border:none;}
#header #menu > ul > li a{width:100%;height:100%;display:block;}
#header #menu > ul > li:hover {background:#ccc;}
#header #menu > ul > li > ul {position:absolute;float:left;margin-top:10px;z-index:9999;display:none;}
#header #menu > ul > li > ul > li {float:left;height:50px;margin:15px 10px 0 0;letter-spacing:-1px;color:#fff;}
#header #menu > ul > li > ul > li a {width:100%;height:100%;display:block;font-size:13px;letter-spacing:-1px;color:#fff;}
#header #menu > ul > li > ul > li a:hover {color:#b9dff6;}
#header #menu #logo {margin:-30px 0 0 0;}

#header #menu2 {margin-bottom:10px;}
#header #menu2 > ul > li{padding:0 11px;height:17px;float:left;text-align:center;font-size:14px;letter-spacing:-2px;border-right:1px solid #b9b9bb;box-sizing:border-box;font-weight:bold;}
#header #menu2 > ul > li a{width:100%;height:100%;display:block;}
#header #menu2 > ul > li:hover {background:#ccc;}
#header #menu2 > ul > li > ul {position:absolute;margin-top:10px;z-index:9999;display:none;}
#header #menu2 > ul > li > ul > li {height:30px;line-height:30px;letter-spacing:-1px;color:#fff;background:rgba(0,0,0,0.5);padding:0 10px;}
#header #menu2 > ul > li > ul > li a {width:100%;height:100%;display:block;font-size:13px;letter-spacing:-1px;color:#fff;}
#header #menu2 > ul > li > ul > li a:hover {color:#b9dff6;}
#header #menu2 #logo {margin:-30px 0 0 0;}

.visual {margin-bottom:30px;}


#bxslider02 li img {width:740px;}/* IE에서 이미지크기 맞추기위함 */

#content01 {width:100%; height:100%; overflow:hidden;}
#content01 .c01_top {width:1118px;margin:0 auto;}
#content01 .c01_top li {width:272px;height:333px;float:left;}
/* #content01 .c01_top .c01_top01 {background:url("/images/con01.png") no-repeat;}
#content01 .c01_top .c01_top01:hover {background:url("/images/con01_o.png") no-repeat;}
#content01 .c01_top .c01_top02 {background:url("/images/con02.png") no-repeat;}
#content01 .c01_top .c01_top02:hover {background:url("/images/con02_o.png") no-repeat;}
#content01 .c01_top .c01_top03 {background:url("/images/con03.png") no-repeat;}
#content01 .c01_top .c01_top03:hover {background:url("/images/con03_o.png") no-repeat;}
#content01 .c01_top .c01_top04 {background:url("/images/con04.png") no-repeat;}
#content01 .c01_top .c01_top04:hover {background:url("/images/con04_o.png") no-repeat;} */

#content01 .c01_bot {width:1118px;margin:0 auto;}
#content01 .c01_bot li {width:554px;height:283px;float:left;margin-top:10px;}
#content01 .c01_bot .c01_bot01 {background:url("../../img/pc/main/con05.png") no-repeat;}
#content01 .c01_bot .c01_bot02 {background:url("../../img/pc/main/con06.png") no-repeat;}

#content02 {width:100%; height:100%; overflow:hidden;}
#content02 .c02 {width:1118px;margin:0 auto;}
#content02 .c02 .c02_01 {width:554px;height:387px;background:url("../../img/pc/main/con07.png") no-repeat;float:left;}
#content02 .c02 .c02_02 {width:554px;height:195px;background:url("../../img/pc/main/con08.png") no-repeat;float:left;border-bottom:1px solid #ccc;}
#content02 .c02 .c02_03 {width:554px;height:180px;background:url("../../img/pc/main/con09.png") no-repeat;float:left;}

#content03 {width:100%; height:100%; overflow:hidden;}
#content03 .c03 {width:1118px;margin:0 auto;}
#content03 .c03 .c03_01 {width:362px;height:294px;background:url("../../img/pc/main/con10.png") no-repeat;float:left;}
#content03 .c03 .c03_01:hover {background:url("../../img/pc/main/con10_o.png") no-repeat;}
#content03 .c03 .c03_02 {width:362px;height:294px;background:url("../../img/pc/main/con11.png") no-repeat;float:left;}
#content03 .c03 .c03_02:hover {background:url("../../img/pc/main/con11_o.png") no-repeat;}
#content03 .c03 .c03_03 {width:362px;height:294px;background:url("../../img/pc/main/con12.png") no-repeat;float:left;}
#content03 .c03 .c03_03:hover {background:url("../../img/pc/main/con12_o.png") no-repeat;}

#content04 {width:100%; height:100%; overflow:hidden; margin-bottom:70px;}
#content04 .c04 {width:1118px;margin:0 auto;}
#content04 .c04 .c04_03 #c04_bt .c04_1:hover p {color:#5793ae;}
#content04 .c04 .c04_03 #c04_bt .c04_2:hover p {color:#5793ae;}
#content04 .c04 .c04_03 #c04_bt .c04_3:hover p {color:#5793ae;}
#content04 .c04 .c04_03 #c04_bt .c04_4:hover p {color:#5793ae;}
#content04 .c04 .c04_01 {width:317px;height:362px;background:url("../../img/pc/main/con13.png") no-repeat;float:left;}
#content04 .c04 .c04_02 {width:325px;height:362px;background:url("../../img/pc/main/con14.png") no-repeat;float:left;}
#content04 .c04 .c04_03 {width:476px;height:362px;float:left;border:1px solid #c1c3ce;border-left:none;box-sizing:border-box;}
#content04 .c04 .c04_03 #c04_bt {position:absolute;margin-top:10px;border-top:1px solid #cacbd4;}
#content04 .c04 .c04_03 #c04_bt ul {width:476px;margin-top:10px;}
#content04 .c04 .c04_03 #c04_bt ul li {width:80px;height:100px;float:left;margin-left: 30px;text-align:center;}
#content04 .c04 .c04_03 #c04_bt ul li p {margin-top:80px;font-weight:bold;}
#content04 .c04 .c04_03 #c04_bt .c04_1 {background:url("../../img/pc/main/c04_03_1.png") no-repeat;}
#content04 .c04 .c04_03 #c04_bt .c04_2 {background:url("../../img/pc/main/c04_03_2.png") no-repeat;}
#content04 .c04 .c04_03 #c04_bt .c04_3 {background:url("../../img/pc/main/c04_03_3.png") no-repeat;}
#content04 .c04 .c04_03 #c04_bt .c04_4 {background:url("../../img/pc/main/c04_03_4.png") no-repeat;}
#content04 .c04 .c04_03 .main_press {padding:0 20px;}
#content04 .c04 .c04_03 .main_press li {position:relative;margin:20px 0; }
#content04 .c04 .c04_03 .main_press li .date {position:absolute;right:0;}

#allmenu_bg {width:100%;height:1002px;background:#e9eaec;}
#allmenu {width:1150px;margin:0 auto;overflow:hidden;}
#allmenu #allmenu_w {width:1118px;margin:0 auto;}
#allmenu #allmenu_w > ul {width:185px;height:500px;font-size:11px;float:left;border-left:1px solid #b9b9bb;border-top:1px solid #b9b9bb;}
#allmenu #allmenu_w ul li {margin:5px 20px;}
#allmenu #allmenu_w ul li a:hover {font-weight:bold;}
#allmenu #allmenu_w ul li:nth-of-type(1) {font-size:13px;margin:20px 20px 15px 20px; }
#allmenu #allmenu_w .hf {height:240.5px;box-sizing:border-box;}
#allmenu #allmenu_w .2dp {width:185px;height:500px;overflow:hidden;}

#footer {width:100%;height:200px;}
#footer #ft_wrap {margin-top:50px;}
#footer #logo {margin-right:50px;}
#footer .ft01{color:#282d31;font-size:12px;font-weight:bold;}
#footer .ft02{color:#282d31;font-size:12px;margin-bottom:20px;}
#footer .ft02 img {position:relative;}
#footer .ft03{color:#484b4e;font-size:12px;}

#qmenu {position:fixed;top:0;right:0;width:93px;height:100%;background:#fff;text-align:center;z-index:9999;}
#qmenu #gray {width:100%;height:125px;background:#ccc;}
#qmenu ul li {margin:10px 0;}


/* SUB */
#sub_visual {width:100%; height:221px; margin:0 auto;background:url("../../img/pc/main/sub_bg.png");}
#l_nav {width:212px;float:left;border:1px solid #efefef;overflow:hidden;float:left;}
#l_nav .l_n_title {width:100%;height:78px;background:#474747;color:#fff;text-indent:20px;line-height:70px;font-size:25px;}
#l_nav .l_n_top {width:212px;overflow:hidden;}
#l_nav .l_n_top li {width:100%;height:42px;background:#ebebeb;border-bottom:1px solid #d2d2d2;text-indent:20px;line-height:40px;}
#l_nav .l_n_top li a {width:100%;height:100%;display:block;color:#797979;}
#l_nav .l_n_top li:hover {background:#48c6ff;}
#l_nav .l_n_top li:hover a {color:#fff;}

#l_nav .l_n_top li.over {background:#48c6ff;}
#l_nav .l_n_top li.over a {color:#fff;}

#l_nav .l_n_top .cbox {width:100%;height:22px;border:none;background:#ebebeb;}
#l_nav .l_n_top .cbox:hover {background:#ebebeb;}
#l_nav .l_n_bottom li img {width:100%;}
#l_nav .l_n_bottom li:nth-of-type(4){padding-bottom:10px;}

#sub_wrap {width:936px;}
#con01 {width:900px;}
#con01 img {width:100%;}

/* table tbody tr:nth-of-type(2) td:nth-of-type(1) {width:324px;} */
.HOME img {vertical-align:-2px;}
.HOME {font-size:11px;font-family:dotum; letter-spacing:0;}
.home_1 {color:#62abcc;}

.essential {font-size:17px;}